.vertical-navbar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
            padding-top: 20px;
        }
        .vertical-navbar .navbar-nav {
            list-style-type: none;
            padding: 0;
        }
        .vertical-navbar .nav-item {
            margin-bottom: 10px;
        }
        .vertical-navbar .btn {
            width: 100%;
        }
        .navbar-brand h3 {
            margin: 0;
            padding: 0 20px;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
        }
        .nav-item{
            padding-right : 30px;
            padding-left : 30px;
        }
        .leavemanagemenheading{
            padding-left : 25px;
        }

        #leaveidhide{
          display: none;
        }